@use "../abstracts";

html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(331deg) brightness(103%)
        contrast(101%);

    --body-bg: #292e39;
    --header-bg-color: #171c28;
    --header-shadow: rgba(0, 0, 0, 0.2);
    --footer-bg-color: #171c28;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: 0 20px 60px 10px rgba(0, 0, 0, 0.2);
    --top-act-group-separate-bg: #ededf6;

    // Header
    --header-act-dropdown-shadow: rgba(23, 28, 40, 0.4);
    --header-act-dropdown-bg: #292e39;
    --header-dropdown-title-color: #b9babe;

    //dropdown
    --dropdown-bg-color: #292e39;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
    --dropdown__link-color: #b9babe;
    --dropdown__arrow-color: brightness(0) saturate(100%) invert(16%) sepia(36%) saturate(309%) hue-rotate(182deg)
        brightness(92%) contrast(93%);
    --top-menu-border-color: #171c28;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(94%) sepia(85%) saturate(232%) hue-rotate(234deg)
        brightness(107%) contrast(96%);

    // Sidebar
    --sidebar-bg: #292e39;
    --sidebar-shadow: rgba(23, 28, 40, 0.4);

    //Category item
    --cate-item-bg: #171c28;
    --cate-item-thumb-bg: #292e39;

    // Buttons
    --filter-btn-title: white;
    --filter-btn-bg: #171c28;
    --like-btn-bg: #292e39;

    // Product card
    --product-card-bg: #171c28;
    --product-card-shadow: rgba(0, 0, 0, 0.2);
    --product-card-price-color: white;

    // Filter form
    --filter-form-bg: #292e39;
    --filter-form-shadow: rgba(0, 0, 0, 0.4);
    --filter-form-heading-color: white;
    --filter-form-label-color: white;
    --form-tag-bg: #171c28;
    --filter-form-arrow: brightness(0) saturate(100%) invert(16%) sepia(36%) saturate(309%) hue-rotate(182deg)
        brightness(92%) contrast(93%);

    // Contact form
    --contact-form-input-border-color: #b9babe;
    --contact-form-placeholder-color: #b9babe;
    --footer-separate-bg: #eeeeee;

    // Sign Up
    --sign-up-intro-color: #b9babe;
    --auth-content-bg: #292e39;
    --auth-heading-color: #b9babe;
    --auth-text-color: #b9babe;

    // Forms
    --form-input-color: #b9babe;

    // Auth
    --auth-intro-bg: #171c28;
    --auth-input-color: white;

    // Product detail
    --product-detail-bg: #292e39;

    //Breadcrumbs
    --breadcrumbs-bg: #171c28;
    --breadcrumbs-shadow: rgba(23, 28, 40, 0.2);
    --breadcrumbs-current: white;

    // Prod Info
    --prod-info-bg: #171c28;

    @include abstracts.screen(md) {
        --prod-info-bg: transparent;
    }

    --prod-info-tag-bg: #292e39;

    // Search bar
    --search-bar-bg: #171c28;
    --search-bar-input-placeholder-color: #b9babe;
    --product-detail-content-bg: transparent;

    @include abstracts.screen(md) {
        --product-detail-content-bg: #171c28;
    }

    // Review card
    --review-card-bg: #171c28;
}
