@use "../abstracts";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(8%) saturate(5166%) hue-rotate(212deg) brightness(93%)
        contrast(96%);

    --body-bg: #f6f6f6;
    --header-bg-color: #eee;
    --header-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-bg-color: white;
    --top-act-group-shadow: 0 20px 60px 10px rgba(237, 237, 246, 0.2);
    --top-act-group-separate-bg: #ededf6;

    //drowdown
    --dropdown-bg-color: white;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
    --dropdown__link-color: #1a162e;
    --dropdown__arrow-color: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(24%) hue-rotate(35deg)
        brightness(104%) contrast(109%);
    --top-menu-border-color: #d2d1d6;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(9%) sepia(29%) saturate(1251%) hue-rotate(210deg)
        brightness(91%) contrast(97%);

    @include abstracts.screen(lg) {
        --header-bg-color: white;
    }

    // Sidebar
    --sidebar-bg: white;
    --sidebar-shadow: rgba(200, 200, 200, 0.4);

    //Category item
    --cate-item-bg: #eee;
    --cate-item-thumb-bg: #fff;

    @include abstracts.screen(md) {
        --cate-item-bg: white;
    }

    // Buttons
    --filter-btn-title: #6c6c72;
    --filter-btn-bg: white;
    --like-btn-bg: white;

    // Product card
    --product-card-bg: white;
    --product-card-shadow: rgba(237, 237, 246, 0.2);
    --product-card-price-color: #1a162e;

    // Filter form
    --filter-form-bg: white;
    --filter-form-shadow: rgba(200, 200, 200, 0.4);
    --filter-form-heading-color: #1a162e;
    --filter-form-label-color: #1a162e;
    --filter-form-tag-bg: #f8f8fb;

    // Contact form
    --contact-form-input-border-color: #d2d1d6;
    --contact-form-placeholder-color: #a6a7ab;
    --footer-separate-bg: #d2d1d6;

    // Sign Up
    --sign-up-intro-color: #1a162e;
    --auth-content-bg: white;
    --auth-heading-color: #1a162e;
    --auth-text-color: #9e9da8;

    // Forms
    --form-input-color: #d2d1d6;

    // Auth
    --auth-intro-bg: #fafafd;
    --auth-input-color: #171c28;

    @include abstracts.screen(lg) {
        --auth-intro-bg: white;
    }

    //Product detail
    --product-detail-bg: white;

    //Breadcrumbs
    --breadcrumbs-bg: #f6f6f6;
    --breadcrumbs-shadow: rgba(237, 237, 246, 0.2);
    --breadcrumbs-current: inherit;
}
