@use "../abstracts";

.footer {
    &__inner {
        background: var(--footer-bg-color);
        padding: 64px 0;

        @include abstracts.screen(lg) {
            padding: 32px 0;
        }
    }

    &__top {
        align-items: center;
    }

    &__separate {
        width: 100%;
        height: 1.5px;

        background: var(--footer-separate-bg);

        &--top {
            margin-top: 32px;

            @include abstracts.screen(lg) {
                margin-top: 24px;
            }
        }
    }

    &__cta {
        color: var(--text-color);
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.42;

        @include abstracts.screen(lg) {
            text-align: center;
            font-size: 1.8rem;
        }
    }

    &__desc {
        color: var(--text-color);
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;

        margin-top: 8px;

        @include abstracts.screen(lg) {
            margin-bottom: 18px;

            text-align: center;
            font-size: 1.5rem;
        }
    }

    &__content {
        margin: 64px 0;

        @include abstracts.screen(lg) {
            margin: 30px 0;
        }
    }

    &__row {
        display: grid;
        grid-template-columns: 1fr 1.1fr 1fr 0.5fr;
        gap: 40px;

        @include abstracts.screen(lg) {
            grid-template-columns: 1fr 1fr;
            gap: 50px 140px;
        }

        @include abstracts.screen(md) {
            grid-template-columns: 1fr;
        }
    }

    &__logo {
        margin-left: 0 !important;
    }

    &__contact {
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        &-info {
            margin-top: 3px;
            color: var(--text-color);
            font-weight: 400;
            font-size: 1.5rem;
            line-height: 142.857%;

            @include abstracts.screen(lg) {
                font-size: 1.4rem;
            }
        }
    }

    &__label {
        color: var(--text-color);
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 142.857%;

        @include abstracts.screen(lg) {
            font-size: 1.4rem;
        }
    }

    &__socials {
        margin-top: 20px;
        display: flex;
        gap: 16px;
    }

    &__social {
        width: 30px;

        &:hover {
            background: #ddd;
            border-radius: 5px;
        }
    }

    &__heading {
        color: var(--text-color);
        font-size: 1.8rem;
        font-weight: 550;
        line-height: 146.667%;

        @include abstracts.screen(lg) {
            font-size: 1.6rem;
        }

        &--gap {
            margin-top: 16px;
        }
    }

    &__list {
        margin-top: 16px;
        display: grid;
        grid-template-columns: auto;
        gap: 18px;

        @include abstracts.screen(lg) {
            gap: 12px;
        }
    }

    &__link {
        display: inline-block;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 142.857%;

        @include abstracts.screen(lg) {
            font-size: 1.4rem;
        }

        &:hover {
            color: #0071dc;
        }
    }

    &__copyright {
        margin-top: 24px;

        display: flex;
        justify-content: center;

        color: var(--text-color);
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 142.857%;

        @include abstracts.screen(lg) {
            font-size: 1.4rem;
        }
    }
}
