@use "../abstracts";

.dropdown {
    position: absolute;
    left: 0px;
    padding-top: 54px;
    display: none;
    width: min(1240px, 100%);

    @include abstracts.breakpoints(lg) {
        display: block;
        position: initial;
        padding-top: 0;
    }

    &__inner {
        --inner-padding: 30px;
        position: relative;

        max-height: var(--inner-max-height);
        padding: var(--inner-padding);

        border-radius: 20px;
        background: var(--dropdown-bg);
        box-shadow: var(--dropdown-shadow);
        color: var(--dropdown__link-color);

        &::before {
            content: url("../icon/dropdown-arrow.svg");
            position: absolute;
            top: -13px;
            left: var(--arrow-left-pos);
            translate: -50%;
            filter: var(--dropdown__arrow-color);
        }

        @include abstracts.breakpoints(lg) {
            border-radius: initial;
            background: transparent;
            box-shadow: none;

            padding: 0 40px;

            &::before {
                content: none;
            }
        }
    }
}

.top-menu {
    --main-column-width: 292px;
    --max-inner-hegiht: calc(min(582px, 100vh - 158px) - var(--inner-padding) * 2);

    position: relative;

    &__main {
        width: var(--main-column-width);
        height: var(--max-inner-hegiht);
        border-right: 1.5px solid var(--top-menu-border-color);
        overflow-y: auto;

        @include abstracts.breakpoints(lg) {
            width: 100%;
            height: auto;
            border-right: none;
        }
    }
}

.menu-column {
    display: flex;
    gap: 14px;

    @include abstracts.breakpoints(lg) {
        margin-top: 10px;
    }

    &__icon {
        flex-shrink: 0;

        width: 36px;
        height: 36px;
        position: relative;

        @include abstracts.breakpoints(xl) {
            display: none;
        }

        @include abstracts.breakpoints(lg) {
            display: block;
        }

        &-1 {
            width: 30px;
            height: 30px;
            object-fit: contain;
        }

        &-2 {
            width: 24px;
            height: 24px;
            object-fit: contain;

            position: absolute;
            right: 0;
            bottom: 0;
            filter: var(--menu-column-icon-color);
        }
    }

    &__content {
        flex: 1;
    }

    &__heading {
        margin-top: 5px;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;

        @include abstracts.breakpoints(lg) {
            margin-bottom: 26px;
        }
    }

    &__list {
        margin-top: 19px;

        @include abstracts.breakpoints(lg) {
            margin-top: 0;
        }
    }

    &__item {
        &--active .sub-menu {
            display: grid;
        }
    }

    &__item--active > &__link,
    &__item:hover > &__link {
        color: #0071dc;
        font-weight: 500;
    }

    &__link {
        display: block;
        padding: 7px 0;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.43;
    }
}

.sub-menu {
    position: absolute;
    inset: 0 0 0 var(--main-column-width);

    display: none;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--inner-padding);

    padding-left: var(--inner-padding);

    overflow-y: auto;

    @include abstracts.breakpoints(lg) {
        position: initial;
        grid-template-columns: 1fr;
        padding-left: 0;
    }

    &__column {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &--not-main {
        display: grid;
        position: initial;
        inset: initial;
        grid-template-columns: repeat(4, 1fr);
        height: var(--max-inner-hegiht);
        padding-left: 0;
    }
}
