@use "../abstracts";

.review-card {
    border-radius: 16px;
    background: var(--review-card-bg);
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;

    &__content {
        display: flex;
        gap: 20px;

        @include abstracts.screen(xl) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        @include abstracts.screen(md) {
            flex-direction: row;
            align-items: initial;
            text-align: initial;
        }
    }

    &__avt {
        width: 80px;
        height: 80px;
        border-radius: 50%;

        object-fit: cover;
    }

    &__title {
        color: var(--text-color);
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.45;
    }

    &__comment {
        margin: 10px 0 20px;

        color: var(--text-color);
        font-size: 1.6rem;
        line-height: 1.5;
    }

    &__rating {
        display: flex;
        align-items: center;

        @include abstracts.screen(xl) {
            flex-direction: column;
            margin-top: auto;
        }

        @include abstracts.screen(md) {
            flex-direction: row;
            gap: 20px;
        }

        @include abstracts.screen(sm) {
            gap: 18px;
        }
    }

    &__rating-title {
        color: var(--text-color);
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.44;

        margin-left: 20px;

        @include abstracts.screen(xl) {
            margin-left: 0;
        }
    }
}
