@use "../abstracts";

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Gordita", "sans-serif";
    font-size: 1.6rem;
    background: var(--body-bg);
}

a,
input,
img,
button,
textarea,
select {
    font-family: inherit;
    outline: none;
    border: none;
    background: transparent;
    -webkit-tap-highlight-color: transparent;
}

button {
    cursor: pointer;
    padding: 0;
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.icon {
    filter: var(--icon-color);
}

.container {
    @include abstracts.screen(sm) {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}
