<div class="footer__inner">
    <div class="container">
        <div class="footer__top row row-cols-2 row-cols-lg-1">
            <div class="col">
                <h2 class="footer__cta">Receive product news and updates.</h2>
                <p class="footer__desc">Be the first to know about our latest updates, exclusive offers, and more.</p>
            </div>

            <div class="col">
                <div class="contact-form">
                    <input
                        placeholder="Enter your email address"
                        type="email"
                        name=""
                        id=""
                        class="contact-form__input"
                    />
                    <button class="btn btn--primary typing-form__btn contact-form__btn">Subscribe</button>
                </div>
            </div>
        </div>

        <div class="footer__separate footer__separate--top"></div>

        <div class="footer__content">
            <div class="footer__row">
                <div class="footer__col footer__col--bottom-lg">
                    <a href="./" class="logo footer__logo">
                        <img src="./assets/icon/logo.svg" alt="grocerymart" class="logo__img" />
                        <h1 class="logo__title">grocerymart</h1>
                    </a>

                    <div class="footer__contact-wrap">
                        <h3 class="footer__heading footer__heading--gap">Contact Us</h3>

                        <ul class="footer__contact">
                            <li>
                                <p class="footer__label">Email</p>
                                <a href="mailto:contact@grocerymart.com" class="footer__contact-info"
                                    >contact@grocerymart.com</a
                                >
                            </li>
                            <li>
                                <p class="footer__label">Hotline</p>
                                <a href="tel:18008888" class="footer__contact-info">19008086</a>
                            </li>
                            <li>
                                <p class="footer__label">Address</p>
                                <p class="footer__contact-info">
                                    No. 11D, Lot A10, Nam Trung Yen urban area, Yen Hoa Ward, Cau Giay District, City.
                                    Hanoi
                                </p>
                            </li>
                            <li>
                                <p class="footer__label">Hours</p>
                                <p class="footer__contact-info">M - F 08:00am - 06:00pm</p>
                            </li>
                        </ul>
                    </div>

                    <div class="footer__socials">
                        <a href="#!">
                            <img src="./assets/icon/facebook.svg" alt="Facebook" class="footer__social" />
                        </a>
                        <a href="#!">
                            <img src="./assets/icon/instagram.svg" alt="Instagram" class="footer__social" />
                        </a>
                        <a href="#!">
                            <img src="./assets/icon/twitter.svg" alt="Twitter" class="footer__social" />
                        </a>
                        <a href="#!">
                            <img src="./assets/icon/linkedin.svg" alt="Linkedin" class="footer__social" />
                        </a>
                        <a href="#!">
                            <img src="./assets/icon/dribbble.svg" alt="Dribbble" class="footer__social" />
                        </a>
                    </div>
                </div>
                <div class="footer__col">
                    <h3 class="footer__heading">Most Popular Categories</h3>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Staples</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Beverages</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Personal Care</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Home Care</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Baby Care</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Vegetables & Fruits</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Snacks & Foods</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Dairy & Bakery</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__col">
                    <h3 class="footer__heading">Customer Services</h3>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#!" class="footer__link">About Us</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Terms & Conditions</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">FAQ</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Home Care</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Privacy Policy</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">E-waste Policy</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Cancellation & Return Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__col">
                    <h3 class="footer__heading">Support</h3>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Contact</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Email Support</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Live Chat</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Phone Support</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Community</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer__separate"></div>

        <p class="footer__copyright">© 2010 - 2026 Grocery Mart. All rights reserved.</p>
    </div>
</div>
